<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Hello World</h1>

    <%= link_to "About", about_path %>
    <br>
    <%= link_to "Create Article", articles_new_path %>

  </body>
</html>
